

.background{
    height: 100%;
    width: 100%;
    background-color: #5A5959;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_box{
    width: 20%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textarea{
    min-height: 80px;
    resize:vertical;
}

.feedback_title{
    margin: 0;
    
}